tensorflow
torch
librosa
opencv-python
datasets
ray
ray[tune]
mlflow
wandb
optuna
lightgbm
xgboost
catboost
numpy
pandas
geopandas
pyarrow
scikit-learn
numba
cupy
dask
pyarrow
prometheus-client
boto3
google-cloud-storage
azure-storage-blob
redis
elasticsearch
pymongo
cassandra-driver
Pillow
albumentations
scipy
zarr
lmdb
msgpack
streamlit
plotly
pyyaml
google-auth
huggingface-hub
kaggle
paramiko